{% extends "_layouts/cp" %}
{% set title = "Semonto Health Monitor"|t('semonto-health-monitor') %}
{% do view.registerAssetBundle("codingmammoth\\craftsemontohealthmonitor\\PluginBundle") %}
{% set selectedTab = 'server-monitoring' %}

{% set tabs = {
   'health-monitor': { 
        label: "Semonto"|t, 
        url: url('settings/plugins/semonto-health-monitor') 
    },
   'website-monitoring': { 
        label: "Website Monitoring"|t, 
        url: url('settings/plugins/semonto-health-monitor/website-monitoring') 
    },
   'server-monitoring': { 
        label: "Server Monitoring"|t, 
        url: url('settings/plugins/semonto-health-monitor/server-monitoring') 
    },
 } %}

{% block content %}
    <div class="semonto-health-monitor">

    {% set message = craft.app.session.getFlash('error', null, true) %}
    {% if message %}
        <p class="error">
            {{ message }}
        </p>
    {% endif %}

    {% set message = craft.app.session.getFlash('success', null, true) %}
    {% if message %}
        <p class="success">
            {{ message }}
        </p>
    {% endif %}

        <div class="semonto-health-monitor__hero">
        
            <div class="semonto-health-monitor__hero-banner">
                <div class="semonto-health-monitor__hero-icon-wrapper">
                    <img class="semonto-health-monitor__hero-icon" width="32" height="32" src="{{ semontoLogoUrl }}" />
                </div>
                <div>
                    <p>
                        Semonto can monitor the health of your server: disk space, server load etc..
                    </p>
                </div>
            </div>

            <div class="semonto-health-monitor__hero-content-wrapper">
                <div class="semonto-health-monitor__hero-content">
                    <div>
                        <h2>To start monitoring this server</h2>

                        <ol>
                            <li>
                                Log in to 
                                <a 
                                    target="_blank" 
                                    rel="noopener noreferrer" 
                                    href="https://supervisor.semonto.com"
                                ><strong>Semonto</strong></a>.
                            </li>
                            <li>Add a new server</li>
                            <li>Enter the following endpoint:<br><strong>{{ endpoint }}</strong>
                            </li>
                            <li>Select the Craft CMS format as the endpoint type, hit save.</li>
                        </ol>

                        <p>
                            Semonto will start monitoring your server and notify you if any issues are found.
                        </p>
                        <p>
                            Read more about how you can 
                            <a 
                                target="_blank"
                                rel="noopener noreferrer"
                                href="https://semonto.com/how-to/how-to-monitor-server-health-with-semonto"
                            >configure the settings</a>.
                        </p>

                    </div>
                </div>

                <div class="semonto-health-monitor__hero-image-wrapper">
                    <div>
                        <img class="semonto-health-monitor__hero-image" src="{{ semontoDashboard }}" alt="Semonto" />
                    </div>
                </div>

            </div>

        </div>

        <hr>

        {% include 'semonto-health-monitor/partials/semonto-health-monitor__settings.twig' %}

    </div>
{% endblock %}
