<div class="">

    <h3>Database connection</h3>
    <p>Get an alert if the connection to the database is failing.</p>

    {% for testKey, test in tests %}
        {% if test.test == 'CraftCMSCheckDBConnection' %}
            <div class="semonto-health-monitor__test-row">
                <div class="semonto-health-monitor__test-row-column">
                    <div class="semonto-health-monitor__switch-wrapper">
                        <label 
                            for="tests[{{ testKey }}][enabled]"
                            class="semonto-health-monitor__switch-label"
                        >Check database connection</label>
                        <label class="semonto-health-monitor__switch">
                            <input 
                                type="checkbox"
                                id="tests[{{ testKey }}][enabled]"
                                value="1" 
                                name="tests[{{ testKey }}][enabled]"
                                {{ test.enabled ? 'checked' : '' }} 
                            >
                            <span class="semonto-health-monitor__test-slider"></span>
                        </label>
                        <input 
                            type="hidden" 
                            name="tests[{{ testKey }}][config]"
                        >
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
