<div class="">

    <h3>Server load</h3>
    <p>Get notified when the load of your server is too high.</p>

    {% if features.sys_getloadavg_function %}

        <div class="semonto-website-monitor__test-headers">
            <div class="semonto-website-monitor__test-header semonto-website-monitor__test-header--value">Warning threshold</div>
            <div class="semonto-website-monitor__test-header semonto-website-monitor__test-header--value">Error threshold</div>
        </div>

        {% for testKey, test in tests %}
            {% if test.test == 'ServerLoad' %}
                <div class="semonto-website-monitor__test-row">
                    <div class="semonto-website-monitor__test-row-column">
                        <div class="semonto-website-monitor__switch-wrapper">
                            <label 
                                for="tests[{{ testKey }}][enabled]"
                                class="semonto-website-monitor__switch-label"
                            >
                                {% if testKey == 'ServerLoadNow' %}
                                    Current load
                                {% elseif testKey == 'ServerLoadAverage5min' %}
                                    Load average 5 minutes
                                {% elseif testKey == 'ServerLoadAverage15min' %}
                                    Load average 15 minutes
                                {% endif %}
                            </label>
                            <label class="semonto-website-monitor__switch">
                                <input 
                                    type="checkbox"
                                    id="tests[{{ testKey }}][enabled]" 
                                    value="1" 
                                    name="tests[{{ testKey }}][enabled]" 
                                    {{ test.enabled ? 'checked' : '' }}
                                >
                                <span class="semonto-website-monitor__test-slider"></span>
                            </label>
                        </div>
                    </div>

                    <div class="semonto-website-monitor__test-row-column">
                        <input 
                            type="number" 
                            id="tests[{{ testKey }}][config][warning_threshold]" 
                            name="tests[{{ testKey }}][config][warning_threshold]" 
                            value="{{ test.config.warning_threshold }}" 
                            min="0"
                            step="0.01"
                            required
                            class="
                                semonto-website-monitor__test-input 
                                {% if test.error %}semonto-website-monitor__test-input--error{% endif %} 
                                semonto-website-monitor-server-monitor__form-test-warning
                            "
                        >
                    </div>

                    <div class="semonto-website-monitor__test-row-column">
                        <input 
                            type="number" 
                            id="tests[{{ testKey }}][config][error_threshold]" 
                            name="tests[{{ testKey }}][config][error_threshold]" 
                            value="{{ test.config.error_threshold }}" 
                            min="0"
                            step="0.01"
                            required
                            class="
                                semonto-website-monitor__test-input 
                                {% if test.error %}semonto-website-monitor__test-input--error{% endif %} 
                                semonto-website-monitor-server-monitor__form-test-error
                            "
                        >
                    </div>
                </div>

                {% if test.error %}
                    <div class="semonto-website-monitor__test-error error-message errors">{{ test.error }}</div>
                {% endif %}

            {% endif %}
        {% endfor %}
    {% else %}
        <p class="semonto-website-monitor__not-supported-warning">
            ℹ️ This test is not available due to your server setup.
            See
            <a 
                target="_blank"
                rel="noopener noreferer"
                href="https://semonto.com/how-to/how-to-monitor-a-craftcms-website-with-semonto"
            >our docs</a>
            for the server requirements.
        </p>
    {% endif %}

</div>
